<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>公告</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/example.css">
</head>
<body>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">公告列表</div>
        <div class="weui-panel__bd">
            {% for notice in notice_list %}
                <a href="/notice/{{ notice.notice_id }}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{{ notice.image_url.url }}">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ notice.notice_title}}</h4>
                        <p class="weui-media-box__desc">{{ notice.notice_summary}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>