<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>工单列表</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/example.css">
</head>
<body>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">待办工单</div>
        <div class="weui-panel__bd">
            {% for event in event_overview %}
                <a href="/process/{{ event.event_id}}" class="weui-media-box weui-media-box_appmsg weui-cell_access">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ event.event_name}}</h4>
                        <p class="weui-media-box__desc">{{ event.event_desc}}</p>
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta">{{ event.level_name}}</li>
                            <li class="weui-media-box__info__meta">{{ event.state_name}}</li>
                            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ event.event_date}}</li>
                        </ul>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>